:root{
    --dark: #000000;
    --darkPurple: #150050;
    --purple: #3F0071;
    --lightPurple: #610094;
    --white: #FFFFFF;
    --mainText: 'Noto Serif', serif;
    --secondText: 'Cormorant Garamond', serif;
}
body{
    background-color: var(--lightPurple);
}
.navbar{
    background-color: var(--lightPurple);
    color: var(--white);
    font-family: var(--secondText);
    font-weight: bolder;
}
.nav-link{
    color: var(--white);
    font-family: var(--secondText);
}
.nav-link:hover{
    color: var(--dark);
}
.dropdown-menu{
    background-color: var(--dark);
}
.dropdown-item{
    color: var(--white);
}
.dropdown-item:hover{
    background-color: var(--dark);
    color: var(--lightPurple)
}
.jumbotron-fluid{
    background-color: var(--dark);
}
.img-fluid{
    border-radius: 5%;
    padding-bottom: 7px;
}
.Daniel, .aboutMe{
    text-align: center;
    color: var(--white);
    background-color: var(--purple);
    font-family: var(--secondText);
    font-size: 20px;
}
.aboutMe{
    border-radius: 5%;
    padding: 7px;
    font-size: 23px;
}
.Daniel{
    border-radius: 15%;
}
.card{
    background-color: var(--dark);
    color: var(--white);
    font-family: var(--secondText);
    font-size: 16px;
}

footer{
    text-align: center;
    background-color: var(--dark);
    color: var(--lightPurple);
    font-size: 18px;
    font-family: var(--mainText);
}
.inside{
    position: relative;
    left :-220px;
    height:650px;
}
.lightbox-gallery {
    
    background-color: var(--purple);
    color: #000;
    overflow-x: hidden
}

.lightbox-gallery p {
    color: #fff
}

.lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #fff;
    font-family: var(--mainText);
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.lightbox-gallery .intro p {
    margin-bottom: 0
}

.lightbox-gallery .photos {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}
@media (max-width:1187px){
    .aboutMe{
        font-size:19px;
    }
}
@media (max-width:884px){
    .aboutMe{
        font-size:14px;
    }
}
@media (max-width:767px){
    .aboutMe{
        font-size:25px;
    }
}